# 3/11 PYTHON 練習22 Python Pandas 資料分析 - 基礎教學
* [Python Pandas 資料分析 - 基礎教學 By 彭彭](https://www.youtube.com/watch?v=5QZqzKCDCQ4&list=PL-g0fdC5RMboYEyt6QS2iLb_1m7QcgfHk&index=23)

# 載入pandas模組

In [1]:
import pandas as pd

# 建立Series

In [10]:
data=pd.Series([20,10,15])

# 基本Series操作

In [11]:
print(data)
print("Max",data.max())
print("Median",data.median())
print("\n-------------------\n")
data=data*2
print(data)
print("\n-------------------\n")
data=data==20
print(data)

0    20
1    10
2    15
dtype: int64
Max 20
Median 15.0

-------------------

0    40
1    20
2    30
dtype: int64

-------------------

0    False
1     True
2    False
dtype: bool

# DataFrame

In [12]:
data=pd.DataFrame({
    "name":["Amy","Joun","Bob"],
    "salary":[30000,50000,40000]
})

# 基礎DataFrame操作

In [13]:
print(data)

   name  salary
0   Amy   30000
1  Joun   50000
2   Bob   40000

# 取得特定的欄位

In [21]:
print(data["name"])
print(data["salary"])
print("\n-------------------\n")
print(data.iloc[0])#印出第一列
print("\n-------------------\n")
print(data.iloc[0:2])
print("\n-------------------\n")
print(data.iloc[:2])

0     Amy
1    Joun
2     Bob
Name: name, dtype: object
0    30000
1    50000
2    40000
Name: salary, dtype: int64

-------------------

name        Amy
salary    30000
Name: 0, dtype: object

-------------------

   name  salary
0   Amy   30000
1  Joun   50000

-------------------

   name  salary
0   Amy   30000
1  Joun   50000