# 3/14 PYTHON 練習24 Python Pandas 資料分析 - DataFrame 雙維度資料
* [Python Pandas 資料分析 - DataFrame 雙維度資料 By 彭彭](https://www.youtube.com/watch?v=Krj-50BNo9E&list=PL-g0fdC5RMboYEyt6QS2iLb_1m7QcgfHk&index=25)
* [sep,變更換行符號,變更連接分隔符號,你關心的，如何做string format?](https://extenshu.com/2017/09/24/python%E5%88%9D%E5%AD%B8%E9%87%8D%E9%BB%9E-04-%E8%81%8A%E8%81%8Aprint/)

# sep 用法

In [75]:
print('Good', 'Bad', 'Ugly')
print('Good', 'Bad', 'Ugly', sep = '/')
print('Good', 'Bad', 'Ugly', sep = '\t')
print('Good', 'Bad', 'Ugly', sep = ';')
print('Good', 'Bad', 'Ugly', sep = '\n')

Good Bad Ugly
Good/Bad/Ugly
Good	Bad	Ugly
Good;Bad;Ugly
Good
Bad
Ugly

In [2]:
import pandas as pd

# 資料索引:pd.DataFrame(字典,index=索引列表)

In [6]:
data=pd.DataFrame({
    "name":["AMY","BOB","CHARLES"],
    "salary":[30000,50000,40000] 
})
print(data,"\n--------------------\n")
data=pd.DataFrame({
    "name":["AMY","BOB","CHARLES"],
    "salary":[30000,50000,40000] 
},index=["a","b","c"])
print(data)

      name  salary
0      AMY   30000
1      BOB   50000
2  CHARLES   40000
--------------------

      name  salary
a      AMY   30000
b      BOB   50000
c  CHARLES   40000

# 觀察資料

In [62]:
data=pd.DataFrame({
    "name":["AMY","BOB","CHARLES"],
    "salary":[30000,50000,40000] 
},index=["a","b","c"])
print(data,"\n------------------\n")
print("資料數量",data.size)
print("資料形狀(列,欄)",data.shape)
print("資料索引",data.index)

      name  salary
a      AMY   30000
b      BOB   50000
c  CHARLES   40000
------------------

資料數量 6
資料形狀(列,欄) (3, 2)
資料索引 Index(['a', 'b', 'c'], dtype='object')

# 取得列(row/橫向)的Series資料:根據順序,根據索引

In [65]:
print("取得第二列",data.iloc[1])
print("取得第二列\n",data.iloc[1])
print("取得第二列",data.iloc[1],sep="\n")
print("=================")
print("取得第c列",data.loc["c"],sep="\n")

取得第二列 name        BOB
salary    50000
Name: b, dtype: object
取得第二列
 name        BOB
salary    50000
Name: b, dtype: object
取得第二列
name        BOB
salary    50000
Name: b, dtype: object
=================
取得第c列
name      CHARLES
salary      40000
Name: c, dtype: object

# 取得欄(Column/直向)的Series資料:根據欄位的名稱

In [25]:
print("取得name欄位",data["name"],sep="\n")
name=data["name"]# 取得單維度的Series資料
print("把name全部轉大寫",name.str.upper(),sep="\n")
salaries=data["salary"]
print("薪水平均值",salaries.mean())

取得name欄位
a        AMY
b        BOB
c    CHARLES
Name: name, dtype: object
把name全部轉大寫
a        AMY
b        BOB
c    CHARLES
Name: name, dtype: object
薪水平均值 40000.0

# 建立新的欄位

* 方法1

In [46]:
data=pd.DataFrame({
    "name":["AMY","BOB","CHARLES"],
    "salary":[30000,50000,40000] 
},index=["a","b","c"])
data["revenue"]=[500000,400000,300000]#data[新欄位的名稱]=列表
print(data)

      name  salary  revenue
a      AMY   30000   500000
b      BOB   50000   400000
c  CHARLES   40000   300000

* 方法2

In [45]:
data=pd.DataFrame({
    "name":["AMY","BOB","CHARLES"],
    "salary":[30000,50000,40000] 
},index=["a","b","c"])
data["rank"]=pd.Series([3,6,1],index=["a","b","c"])
print(data)
data["rank2"]=pd.Series([3,6,1,50],index=["a","b","c","d"])
print(data)
data["revenue"]=[500000,400000,300000]
data["cp"]=data["revenue"]/data["salary"]
print(data)

      name  salary  rank
a      AMY   30000     3
b      BOB   50000     6
c  CHARLES   40000     1
      name  salary  rank  rank2
a      AMY   30000     3      3
b      BOB   50000     6      6
c  CHARLES   40000     1      1
      name  salary  rank  rank2  revenue         cp
a      AMY   30000     3      3   500000  16.666667
b      BOB   50000     6      6   400000   8.000000
c  CHARLES   40000     1      1   300000   7.500000

# 額外各種測試

In [55]:
data=pd.DataFrame({
    "name":["AMY","BOB","CHARLES"],
    "salary":[30000,50000,40000] 
})
data["rank2"]=pd.Series([3,6,1,50],index=["a","b","c","d"])
print(data,"\n")
data=pd.DataFrame({
    "name":["AMY","BOB","CHARLES"],
    "salary":[30000,50000,40000] 
})
data["rank2"]=pd.Series([3,6,1],index=["a","b","c"])
print(data,"\n")
data=pd.DataFrame({
    "name":["AMY","BOB","CHARLES"],
    "salary":[30000,50000,40000] 
})
data["rank2"]=pd.Series([3,6,1,50])
print(data,"\n")
data=pd.DataFrame({
    "name":["AMY","BOB","CHARLES",""],
    "salary":[30000,50000,40000,""] 
})
data["rank2"]=pd.Series([3,6,1,50])
print(data,"\n")

      name  salary  rank2
0      AMY   30000    NaN
1      BOB   50000    NaN
2  CHARLES   40000    NaN

      name  salary  rank2
0      AMY   30000    NaN
1      BOB   50000    NaN
2  CHARLES   40000    NaN

      name  salary  rank2
0      AMY   30000      3
1      BOB   50000      6
2  CHARLES   40000      1

      name salary  rank2
0      AMY  30000      3
1      BOB  50000      6
2  CHARLES  40000      1
3                     50